@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/* ****************************************
GENERAL SECTION
**************************************** */
.wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


/* ****************************************
NAV BAR - MOBILE
**************************************** */











/* ****************************************
NAV BAR - DESKTOP
**************************************** */
.nav-desktop {
    background-color: #226;
    height: 80px;
    padding: 0;
}

.site-logo {
    color: white;
    line-height: 80px;
}

.nav-desktop .menu-desktop {
    line-height: 80px;
    background-color: #226;
}

.nav-desktop a { 
    color: red;
}

.menu > li > a {
    display: inline-block;
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu > li > a:hover {
    
}









/* ****************************************
TOP SECTION
**************************************** */
.hero {
    background-color: #999;
    padding: 40px 0;
    height: 400px;
    background-image: url("../img/isometropolis.jpg");
}

.hero h1,
.hero p {
    color: rgba(255,255,255,0.8);
    max-width: 70%;
}
    
.button.success {
    background-color: purple;
}
    








/* ****************************************
MAIN SECTION
**************************************** */
.main {
    padding: 80px 0px;
}






/* ****************************************
FOOTER
**************************************** */
footer {
    background-color: #226;
    padding: 80px 0px;
}

footer h4 {
    color: rgba(255,255,255,0.8);
}

footer a { 
    display: block;
    color: rgba(255,255,255,0.6);
}

footer a:hover {
    color: rbga(255,255,255,0.8);
}

/* ****************************************
Media Queries
**************************************** */
@media (max-width: 639px) {
    
    .nav-desktop {
        display: none;
    }
    
}
